* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    color:#685454;
}
html {
    background-image: url(https://plus.unsplash.com/premium_photo-1683309565422-77818a287060);
    background-size: cover;
}

.first-color { 
	background: #f2f2f2; 
}
	
.second-color { 
	background: #ebd5d5; 
}

.third-color { 
	background: #ea8a8a; 
}

.fourth-color { 
	background: #685454; 
}

main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    min-height: 100vh;
}

header{
    text-align: center;
    padding: 10px;
    background-color:#ea8a8a;
}

h1 {
    color:#f2f2f2;
    padding: 10px;
    text-outline: 5px solid #685454;
}
h3{
    color:#f2f2f2;
    padding: 10px;
    font-style: italic;
}
#sidebar {
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: #f2f2f2;
}
.middle-section {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 1rem;
    background-color: #ea8a8a;
}
.new-blogpost{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    width: 100%;
}
.blog h2{
    background-color: white;
}

.blogpost-form{
    background-color: white;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.blogpost-form .form {
    background-color: white;
    width: 100%;
    justify-content: start;
}
.blogpost-form .form input{
    width: 100%;
    padding: 10px;
    border: 2px solid #685454;
    border-radius: 10px;
}
.blogpost-form .form label{
    background-color: white;
}

.blogpost-form .form .content {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    border: 2px solid #685454;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
}
.post-btn{
    align-self: flex-end;
    padding: 10px;
    border: 2px solid #685454;
    border-radius: 10px;
    font-size: 14px;
    width: 5rem;
}
.blog-post{
    width: 100%;
    background-color: white;
}

.blog-content {
    background-color:#685454;
}

.article-blogpost p{
    color: white;
}

.hidden {
    display:none !important;
}
.new-blogpost {
    display: flex;
    flex-direction: column;
}