* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    color:#191200;
}
html {
    background-image: url(https://plus.unsplash.com/premium_vector-1720569604527-12aa728ffbbf);
    background-size: cover;
}

main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    min-height: 100vh;
}

header{
    text-align: center;
    padding: 10px;
    background-color:#ea8a8a;
}

h1 {
    color:#f2f2f2;
    padding: 10px;
}
h3 {
    color:#f2f2f2;
    padding: 10px;
    font-style: italic;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: white;
    margin-left: 20px;
    border: 1px solid #ea8a8a;
    border-radius: 10px;
    padding: 10px;
}
.sidebar  .blogpost-section .sidebar-h2 {
    padding: 10px;
    color: #B04E52;
    text-align: center;
}
.btn-style{
    padding: 10px;
    border: 2px solid #E9A502;
    border-radius: 10px;
    font-size: 1rem;
    width: 5rem;
    background-color: #EFB834;
    color: white;
    font-weight: bold;
}
.new-post-btn{
    align-self: center;
    width: auto;
}
.blog-buttons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 1rem;
}
.sidebar ul.blogpost-list {
    list-style: none;
    padding: 0;
    margin: 5px;
    align-items: flex-start;
}
.sidebar ul.blogpost-list li,
.sidebar ul.blogpost-list li a
{
    margin-bottom: 10px;
    font-weight: bold;
    color: #191200;
    text-decoration: none;
}
.sidebar .blogpost-section {
    border: 1px solid #ea8a8a;
    border-radius: 10px;
    margin-top: 1rem;
}
.middle-section {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 1rem;
    background-color: white;
    border: 1px solid #ea8a8a;
    border-radius: 10px;
}
.new-blogpost{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    width: 100%;
    border: 1px solid #ea8a8a;
    border-radius: 10px;
}
.blog-h2{
    background-color: white;
    color:#B04E52;
}

.blogpost-form{
    background-color: white;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.blogpost-form .form {
    background-color: white;
    width: 100%;
    justify-content: start;
}
.blogpost-form .form input{
    width: 100%;
    padding: 10px;
    border: 2px solid #685454;
    border-radius: 10px;
}
.blogpost-form .form label{
    background-color: white;
    margin: 5px;
}

.blogpost-form .form .content {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    border: 2px solid #685454;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
}
.blog-post{
    width: 100%;
    background-color: white;
}

.blog-content {
    background-color: white;
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
}

.blog-content .article-blogpost {
    background-color:white;
    display: flex;
    flex-direction: column;
    border: 1px solid #ea8a8a;
    border-radius: 10px;
    
}
.blog-content .article-blogpost .newpost-header {
    background-color: #E9A502;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ea8a8a;
    border-radius: 10px;
}
.blog-content .article-blogpost .newpost-header .newpost-title {
    text-transform: uppercase;
}
.blog-content .article-blogpost .newpost-header .newpost-timestamp{
    padding: 10px;
    color: white;
}
.blog-content .article-blogpost .newpost-body{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.blog-content .article-blogpost .newpost-footer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden {
    display:none !important;
}
.new-blogpost {
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 18px;
}
/*
#E9A502;
#B04E52;
#EFB834;
#E19A9D;
#EEDDE2;


*/